@using StackExchange.Profiling;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@AppConfig.SiteTitle</title>
    <link id="favicon" rel="shortcut icon" type="image/ico" href="@AppConfig.Favicon" />
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function i(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = "AuthenticatedUserContext", h = "start", c = "stop", l = "Track", a = l + "Event", v = l + "Page", y = u.createElement(o), r, f; y.src = config.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js"; u.getElementsByTagName(o)[0].parentNode.appendChild(y); try { t.cookie = u.cookie } catch (p) { } for (t.queue = [], t.version = "1.0", r = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; r.length;) i("track" + r.pop()); return i("set" + s), i("clear" + s), i(h + a), i(c + a), i(h + v), i(c + v), i("flush"), config.disableExceptionTracking || (r = "onerror", i("_" + r), f = e[r], e[r] = function (config, i, u, e, o) { var s = f && f(config, i, u, e, o); return s !== !0 && t["_" + r](config, i, u, e, o), s }), t
        }({
            instrumentationKey: "@AppConfig.AppInsightsIKey"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <section class="container">
        <nav class="row">
            <div class="col-md-3 col-xs-6 chalkboard title">
                <a href="/">@AppConfig.SiteName</a>
            </div>
            @RenderSection("navBar", required: false)
            <div class="col-xs-4 col-md-2 menu">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Menu
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/">
                                <i class="fa fa-picture-o"></i>
                                Pictures
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/VideoFilms">
                                <i class="fa fa-youtube-play"></i>
                                Videos
                            </a>
                        </li>
                        <li role="presentation" id="memoriesLink">
                            <a role="menuitem" tabindex="-1" href="/RememberWhen">
                                <i class="fa fa-comments-o"></i>
                                Member When
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/news">
                                <i class="fa fa-newspaper-o"></i>
                                News
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        @RenderBody()
    </section>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    @MiniProfiler.RenderIncludes()
</body>
</html>
