@model BrokkAndOdin.ViewModels.GalleryViewModel
@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    @Scripts.Render("~/bundles/gallery")
    <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
        <div class="rg-image-wrapper">
            {{if itemsCount > 1}}
            <div class="rg-image-nav">
                <a href="#" class="rg-image-nav-prev">Previous Image</a>
                <a href="#" class="rg-image-nav-next">Next Image</a>
            </div>
            {{/if}}
            <div class="rg-caption-wrapper">
                <div class="rg-caption" style="display:none;">
                    <p></p>
                </div>
            </div>
            <div class="rg-image"></div>
            <div class="rg-loading"></div>
        </div>
    </script>
}

@section styles{
    @Styles.Render("~/Content/gallery")
}
@section navBar{
    @using (Html.BeginForm())
    {

        <div class="col-md-5 col-xs-2 title news">
            @Html.ActionLink("News", "News", "Home")
        </div>
        <div class="col-md-3 col-xs-7">
            <div class="input-group search-box">
                @Html.TextBoxFor(m => m.SearchString, null, new { @class = "form-control", placeholder = "search" })
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-1">
            @Html.HiddenFor(m => m.StartDate)
            @Html.HiddenFor(m => m.EndDate)
            <span class="btn btn-default btn-daterange">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    }
}
<div id="rg-gallery" class="rg-gallery row">
    <div class="rg-thumbs">
        <!-- Elastislide Carousel Thumbnail Viewer -->
        <div class="es-carousel-wrapper rounded-bottom">
            <div class="es-nav">
                <span class="es-nav-prev">Previous</span>
                <span class="es-nav-next">Next</span>
            </div>
            <div class="es-carousel">
                <ul>
                    @foreach (var photo in Model.Photos)
                    {
                        <li>
                            <a href="#">
                                <img src="@photo.ThumbnailUrl" data-large="@photo.FullUrl" alt="@photo.Title" data-description="@photo.Title" data-video="@photo.VideoUrl" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

