@model BrokkAndOdin.ViewModels.GalleryViewModel
@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    @Scripts.Render("~/bundles/gallery")
    <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
        <div class="rg-image-wrapper">
            {{if itemsCount > 1}}
            <div class="rg-image-nav">
                <a href="#" class="rg-image-nav-prev">Previous Image</a>
                <a href="#" class="rg-image-nav-next">Next Image</a>
            </div>
            {{/if}}
            <div class="rg-caption-wrapper">
                <div class="rg-caption" style="display:none;">
                    <p></p>
                </div>
            </div>
            <div class="rg-image"></div>
            <div class="rg-loading"></div>
        </div>
    </script>
}

@section styles{
    @Styles.Render("~/Content/gallery")
}
@section navBar{
    @using (Html.BeginForm("Gallery","Home"))
    {
        @Html.HiddenFor(m => m.StartDate)
        @Html.HiddenFor(m => m.EndDate)
        <div class="col-xs-8 col-md-7">
            <div class="input-group search-box">
                @Html.TextBoxFor(m => m.SearchString, null, new { @class = "form-control", placeholder = "search" })
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>

                    <button type="button" class="btn btn-default btn-share-link" data-toggle="modal" data-target="#shareModal">
                        <i class="fa fa-share-alt"></i>
                    </button>
                    <span class="btn btn-default btn-daterange">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
    }
}
<div id="rg-gallery" class="rg-gallery row">
    <div class="rg-thumbs" style="display:@(Model.HideThumbs == false ? "block" : "none")">
        <!-- Elastislide Carousel Thumbnail Viewer -->
        <div class="es-carousel-wrapper rounded-bottom">
            <div class="es-nav">
                <span class="es-nav-prev">Previous</span>
                <span class="es-nav-next">Next</span>
            </div>
            <div class="es-carousel">
                <ul>
                    @foreach (var photo in Model.Photos)
                    {
                        <li>
                            <a href="#">
                                <img src="@photo.ThumbnailUrl" data-large="@photo.FullUrl" alt="@photo.Title" data-description="@photo.Title" data-video="@photo.VideoUrl" data-photo-id="@photo.Id" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="shareModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Share These Photos</h4>
            </div>
            <div class="modal-body">
                To share this set of photos, simply copy the URL below and send to friends!

                <div class="share-link-container">
                    <p>
                        <a href="@String.Format("{0}?{1}", Request.Url, Model.ShareableLink)">Photo Set</a>
                    </p>
                    <button class="btn btn-primary btn-copy-share-link" data-clipboard-text="@String.Format("{0}?{1}", Request.Url, Model.ShareableLink)"><i class="fa fa-copy"></i> Copy</button>
                    <span style="display:none" id="copySuccess">Copied to Clipboard</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
