@model BrokkAndOdin.ViewModels.RememberWhenViewModel
@{
    ViewBag.Title = "Member That Time";
}

@section navBar{
    <div class="col-xs-8 col-md-7">
        &nbsp;
    </div>
}

@section styles{
    @Styles.Render("~/Content/rememberWhen")
}

<section class="member-when">
    @foreach (var period in Model.TimePeriods)
    {
        if (period.Photos.Any())
        {
            <ul>
                <li>
                    <h3>
                        @period.Description
                    </h3>
                </li>
                @foreach (var photo in period.Photos)
                {
                    <li>
                        <p>@photo.TitleNoDate</p>
                        @if (photo.HasVideo)
                        {
                            <video controls poster="@photo.FullUrl">
                                <source src="@photo.VideoUrl" type="video/mp4">
                            </video>
                        }
                        else
                        {
                            <img src="@photo.FullUrl" />
                        }
                    </li>
                }
            </ul>
        }
    }
</section>