@model BrokkAndOdin.ViewModels.VideoViewModel
@{
    ViewBag.Title = "Home Movies";
}

@section scripts{
    @Scripts.Render("~/bundles/video")
}

@section styles{
    @Styles.Render("~/Content/video")
}

@section navBar{
    <div class="col-xs-8 col-md-7">
    <span class="btn btn-default btn-shuffle">
        <i class="fa fa-random"></i>
        <span class="hidden-for-mobile">Shuffle</span>
    </span>
    <span class="btn btn-default btn-reverse">
        <i class="fa fa-step-backward"></i>
        <span class="hidden-for-mobile">Reverse Order</span>
    </span>
</div>
}

<div class="row page-container">
    <div class="col-md-10">
        <video controls poster="@Model.Videos.First().FullUrl">
            <source src="@Model.Videos.First().VideoUrl" type="video/mp4">
        </video>
    </div>
    <div class="col-md-2">
        <div class="video-list">
            @{ var index = 0; }
            @foreach (var video in Model.Videos)
            {
                <a href="@video.VideoUrl" data-index="@index">
                    <img src="@video.SmallUrl" alt="@video.Title">
                </a>
                index++;
            }
        </div>
    </div>
</div>